<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    function onSubmit(token) {
      alert('thanks ' + document.getElementById('field').value + " token: " + token);
    }

    function validate(event) {
      event.preventDefault();
      if (!document.getElementById('field').value) {
        grecaptcha.render('submit', {
            'sitekey' : '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI',
            'callback' : onSubmit
        });
        alert("You must add text to the required field");
      } else {
        grecaptcha.execute();
        grecaptcha.reset();
      }
    }

    function onload() {
      var element = document.getElementById('submit');
      element.onclick = validate;
    }

    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<form>
    Name: (required) <input id="field" name="field">
    <button id='submit'>submit</button>
</form>

<script>onload();</script>
</body>
</html>